<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ирландия</title>
</head>
<body>
    <!-- Шаблон:"https://www.behance.net/gallery/79401133/Ireland-Tours-Website-Concept" -->
    <header>
        <div class="logo">
            <img src="" alt="Логотип">
        </div>
        <div class="contacts">
            <ul class="horiz-menu">
                <li><a href="">instagram</a></li>
                <li><a href="">facebook</a></li>
            </ul>
        </div>
        <div class="number">(+353)7 856 7860</div>
        <div class="side-menu">
            <button class="btn-rounded burger"></button>
        </div>
    </header>
    <main>
        <section class="1">
        <div class="slider-slide-numb">

        </div>
        <div class="article">
            <span>Relano cours</span>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            <a href="#">BOOK A TOUR</a>
        </div>
        <div class="slider-and-buttons">
            <button class="next"></button>
            <button class="after"></button>
            <div class="slide">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, adipisci.</p>
                <a href="#">Learn more</a>
            </div>
            <div class="slide">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, adipisci.</p>
                <a href="#">Learn more</a>
            </div>
            <div class="slide">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, adipisci.</p>
                <a href="#">Learn more</a>
            </div>
            <div class="slide">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, adipisci.</p>
                <a href="#">Learn more</a>
            </div>
            <div class="slide">
                <h4>Lorem ipsum dolor sit amet.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, adipisci.</p>
                <a href="#">Learn more</a>
            </div>
        </div>  
        </section>
        <section class="2">
            <div class="main-tour">
                <h1 class="title">Tours</h1>
                <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui.</h2>
                    <br>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <p>Lorem, ipsum dolor.</p>
                    <h1 class="price"></h1>
                    <a href="#">LEARN MORE</a>
                </div>
                <img src="" alt="картинка тура">
            </div>
            <div class="tour-cards">
                <div class="card">
                    <img src="" alt="картинка тура">
                    <span>Lorem, ipsum.</span>
                    <h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
                </div>
                <div class="card">
                    <img src="" alt="картинка тура">
                    <span>Lorem, ipsum.</span>
                    <h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
                </div>
                <div class="card">
                    <img src="" alt="картинка тура">
                    <span>Lorem, ipsum.</span>
                    <h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
                </div>
                <div class="card">
                    <img src="" alt="картинка тура">
                    <span>Lorem, ipsum.</span>
                    <h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
                </div>  
            </div>
            <div class="slider-buttons">
                <button class="left"></button>
                <button class="right"></button>
                <span>01</span><hr><span>10</span>
            </div>
        </section>
        <section class="3">
            <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?
                <div class="main-div">
                    <h1>Destiations</h1>
                    <p><a href="#">Contry Clare. ireland</a></p>
                    <h4>Cliffs of Moher</h4>
                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatem quod dolorem quae perferendis quo a fugiat, hic repellat laudantium.</span>
                    <img src="" alt="">
                </div>
                <div class="slider">
                    <img src="" alt="">
                    <div class="slider-buttons">
                        <button class="left"></button>  
                        <button class="right"></button>
                        <span>02</span><hr><span>22</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="4">
            <div class="about">
                <h1>About Us</h1>
                <div class="mission">
                    <h5>Our mission</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium sequi nemo et, ab non dolor maiores possimus odio saepe fugiat dicta laborum?</p>
                    <p><a href="#"></a>LEARN MORE</p>
                </div>
                <img src="" alt="картинка">
            </div>
            <div class="advantage">
                <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?</div>
                <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?</div>
                <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?</div>
                <div> <img src="" alt=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nobis praesentium exercitationem recusandae. Placeat, harum?</div>
            </div>
        </section>
        <section class="5">
            <div class="contacts">
                <h1>Contacts</h1>
                <div class="contact-us">
                    <h5>Contact us</h5>
                    <div><img src="" alt=""> +9 912 237 18-39</div>
                    <div><img src="" alt="">lorem-mail.ru</div>
                    <div><img src="" alt="">AFRICA</div>
                </div>
                <form action="">
                    <h5>Any questions?</h5>
                    <input type="text" placeholder="name" name="name">
                    <input type="text" placeholder="E-mail" name="E-mail">
                    <input type="text" placeholder="message" name="message">
                    <input type="button">
                </form>
            </div>
            <div class="location"><img src="" alt="местоположение"></div>
        </section>
    </main>
    <footer></footer>
</body>
</html>